.form-container {
    display: flex;
    flex-direction: column;
    filter: drop-shadow($clear-blue 2px 2px);
    border-radius: 0.5rem;
    padding: 1rem;
    width: 19rem;
    background-color: $trans-blue;
    line-height: 1.5rem;
    margin: 5rem auto;

  }
  .contact-input{
      margin-bottom: 1rem;
      margin-top: -1rem;
      height: 3rem;
      padding: .5rem;
  }
  .message-input{
      height: 8rem;
      resize: none;
      margin-bottom: 4rem;
      padding: .5rem;
  }
  .message-label{
      margin-bottom: 1rem;
      font-weight: bold;
  }
  .contact-btn{
      margin-bottom: 3rem;
  }
  .contact-label{
      font-weight: bold;
  }
