.end-box{
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.game-end-title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.game-end-txt{
    margin-bottom: 3rem;
}
.end-btn{
    text-decoration: none;
    text-align: center;
    padding-top: 0.5rem;
}
