.profile-section {
    padding: 2rem;
    margin: 5rem auto;
    width: 90%;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.info-group {
    width: 100%;

    p {
        margin: 0.5rem 0;
    }
}

.description-group {
    width: 100%;

    h3 {
        margin-bottom: 0.5rem;
    }
}

.profile-actions {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}
.trophies-section {
    background-color: $background;
    width: 100%;
}
.trophies-grid{
    width: 100%;
}
.trophy-card{
    line-height: 2rem;
}
